.banner {
  position: relative;
  width: 98vw;
  height: 80vh;
  background-image: url('../assets/bgg6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Alinha o conteúdo mais próximo do centro */
  align-items: center;
  color: #fff;
  overflow: hidden;
  font-family: Poppins;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(150, 51, 6, 0.8), rgba(255, 255, 255, 0));
  z-index: 1;
}

.banner-content {
  position: relative;
  max-width: 800px; /* Limita a largura do conteúdo */
  padding: 20px;
  background: transparent;
  color: #fff;
  z-index: 2;
  text-align: left; /* Mantém o texto alinhado à esquerda */
  margin-left: -25%; /* Centraliza sutilmente o conteúdo */
}

.separator {
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}

.banner h1 {
  font-size: 3rem;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.4; /* Melhora o espaçamento entre linhas */
}

.tagline {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.banner p:last-child {
  margin-top: 30px; /* Espaçamento extra para a nota final */
  font-style: italic;
  font-size: 1.5rem;
}


