.consultation-section {
    background-color: #38373736; /* Fundo Branco */
    padding: 40px 20px; /* Espaçamento interno */
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultation-box {
    border: 2px solid #ddd; /* Borda do retângulo */
    background-color: #7CA18F; /* Fundo Minimalista */
    border-radius: 8px;
    position: relative; /* Para posicionar a imagem dentro do retângulo */
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas */
    text-align: center;
}

.consultation-bg {
    background-color: #18181846; /* Fundo Minimalista */
    padding: 30px; /* Espaçamento interno ao redor do conteúdo */
    border-radius: 8px;
    width: 1200px; /* Largura fixa do retângulo */
    height: 300px; /* Altura fixa do retângulo */
    position: relative; /* Para posicionar a imagem dentro do retângulo */
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas */
    text-align: center;
}

.consultation-image {
    width: 100%; /* Largura da imagem para preencher o retângulo */
    height: 100%; /* Altura da imagem para preencher parte do retângulo (ajustável) */
    object-fit: cover; /* Faz com que a imagem preencha a área sem distorcer */
    position: absolute; /* Para sobrepor o conteúdo dentro do retângulo */
    top: 0;
    left: 0;
}

.consultation-title {
    font-size: 1.6rem;
    margin-bottom: 130px;
    color: #ffffff;
    position: absolute;
    bottom: 100px; /* Ajusta a posição em relação ao fundo do retângulo */
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}

.price {
    font-weight: bold;
    color: #ff6600; /* Destaque do preço */
}

.consultation-description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
    position: absolute;
    bottom: 140px; /* Ajusta a posição em relação ao fundo do retângulo */
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}

.consultation-button {
    padding: 10px 20px;
    background-color: #7CA18F;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease;
    position: absolute;
    bottom: 10px; /* Ajusta a posição em relação ao fundo do retângulo */
    left: 50%;
    transform: translateX(-50%);
}

.consultation-button:hover {
    background-color: #CBAB93;
}

.arrow {
    margin-left: 10px;
}


