.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f9f9f9;
  padding: 30px 20px;
  margin: 10px auto; /* Ajustado para subir o container */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.315);
  max-width: 1200px;
  border: 2px solid #ffffffbb; /* Adiciona a borda */
  border-radius: 10px;

}

.feature-item {
  text-align: center;
  padding: 10px 30px;
  margin: 0 10px;
  flex: 1;
}

.feature-icon {
  font-size: 2.5rem;
  color: #7ca18f;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
    padding: 30px 20px;
  }

  .feature-item {
    margin: 20px 0;
  }
}
